src/main/mule/cicdf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e17f61cf-23de-4e0e-be61-863b68538dbf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdfFlow" doc:id="0cd20c2b-3e0c-43a1-989c-79ddf35b0be5" >
		<http:listener doc:name="Listener" doc:id="1f7251b5-7876-48b1-a998-700ec8f9cbb7" config-ref="HTTP_Listener_config" path="/cd"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="becdb558-6067-4a77-9502-1ffcb40601a0" />
	</flow>
</mule>
